# -*- conf -*-

#####################
## Global commands ##
#####################

global

########################
## Main template file ##
########################

# filename
(file)

# case insensitive regex for histograms to keep
# for pretag, add three types of W + jets together
+ add WJets_\1:Wqq_(.+)^,Wbx_(.+)^,Wcx_(.+)^

+ keep ^((?:Q|S|T|W|Z|D)\w+)*_(.+)
