# -*- conf -*-

#####################
## Global commands ##
#####################

global

# double-pipe separated substitutions ('old||new')
+ sub data||Data
+ sub secvtxMass||svm

# rebin
+ rebin svm:20,2
+ rebin MET:80,8
+ rebin wMT:120,12

########################
## Main template file ##
########################

# filename
(file)

# case insensitive regex for histograms to keep
+ keep ^(Q|E|T|Z|D|S|W).+[12345]j_[012]t
+ add EWK_\1:Wqq_(.+),Wbx_(.+),Wcx_(.+),Sing.+_(.+)
+ keep ^(Q|E|T|Z|D|S|W).+[12345]j_[012]t
