# -*- conf -*-

#####################
## Global commands ##
#####################

global

# double-pipe separated substitutions ('old||new')
+ sub data||Data
+ sub secvtxMass||svm
+ sub QCD_([^_]+)pre_||QCDpre_\1_
+ add WJets_\1:Wqq_(.+)^,Wbx_(.+)^,Wcx_(.+)^
+ rebin _MET_:80,1
+ rebin dPhi2JetMET_:136,8
+ rebin _std:240,8
+ rebin hT:120,12
+ rebin centrality:120,8
########################
## Main template file ##
########################

# filename
(file)

# case insensitive regex for histograms to keep
+ keep ^.+_METpre_[012345]j_[012]b_[012]t
+ keep ^(Q|S|T|W|Z|D|N).+_MET_[012345]j_[012]b_[012]t
