# -*- conf -*-

#####################
## Global commands ##
#####################

global

# double-pipe separated substitutions ('old||new')
+ sub data||Data
+ sub secvtxMass||svm
+ sub QCD_([^_]+)pre_||QCDpre_\1_
+ rebin dPhi2JetMET_:136,8
+ rebin _std:240,8
+ rebin hT:120,12
+ rebin centrality:120,8
########################
## Main template file ##
########################

# filename
(file)

# case insensitive regex for histograms to keep
+ keep ^(Q|S|T|W|Z|D|N).+[012345]j_[012]b_[012]t
