# -*- conf -*-

#####################
## Global commands ##
#####################

global

# double-pipe separated substitutions ('old||new')
+ sub data||Data
+ sub secvtxMass||svm

+ rebin _MET_:80,8
+ rebin dPhi2JetMET_:136,8
+ rebin _std:240,8
+ rebin hT:120,12
+ rebin centrality:120,8
########################
## Main template file ##
########################

# filename
(file)

# case insensitive regex for histograms to keep
+ keep ^(Q|S|T|W|Z|D|N).+[012345]j_[012]b_[012]t

#+ scale ^Top:6.349206349206 # 1 / .1575

# First pass at 2011 180/pb
# shut off for 2012 8TeV data
#+ renorm ^QCD_lepEta_1j_0t$:1259.28 
#+ renorm ^QCD_lepEta_2j_0t$:357.76
#+ renorm ^QCD_lepEta_3j_0t$:30.
#+ renorm ^QCD_lepEta_4j_0t$:30.
#+ renorm ^QCD_lepEta_5j_0t$:10.

#+ renorm ^QCD_svm_1j_1t$:82.59
#+ renorm ^QCD_svm_2j_1t$:23.56
#+ renorm ^QCD_svm_3j_1t$:1.5
#+ renorm ^QCD_svm_4j_1t$:1.5
#+ renorm ^QCD_svm_5j_1t$:0.5

#+ renorm ^QCD_svm_2j_2t$:0.25
#+ renorm ^QCD_svm_3j_2t$:0.25
#+ renorm ^QCD_svm_4j_2t$:0.25
#+ renorm ^QCD_svm_5j_2t$:0.25

# for pretag, add three types of W + jets together
#+ add WJets_\1:Wqq_(.+)^,Wbx_(.+)^,Wcx_(.+)^

# change from 12 bins to 11 bins
#+ rebin lepEta:11,1

##########################
## Unstitched data file ##
##########################

# unstitched data file
#(data)

##+ keep pfShyftAna/Data_muEta_\dj$ pfShyftAna/Data_muEta_\dj_\dt$
#+ keep pfShyftAna/Data_lepEta_\dj$
#+ keep pfShyftAna/Data_lepEta_\dj_\dt$

#+ sub pfShyftAna/Data_lepEta||Data_lepEta

# change from 12 bins to 11 bins
#+ rebin lepEta:11,1
#+ add \1:(Data_lepEta_\dj)_\dt$^

###################################
## Global 'add's and 'renormTo's ##
###################################

#+ add \1:([Q|S|T|W|Z]\w+lepEta_\dj)_0t^

#+ renormTo \1_lepEta_\2j:([Q|S|T|W|Z]\w+)_lepEta_(\d)j_0t,([Q|S|T|W|Z]\w+)_svm_(\d)j_\dt

# add Z + jets together because we don't care...
#+ add ZJets_\1:Zqq_(.+),Zbx_(.+),Zcx_(.+)









