# -*- conf -*-

#####################
## Global commands ##
#####################

global

# double-pipe separated substitutions ('old||new')
+ sub data||Data
+ sub secvtxMass||svm

# rebin
+ rebin svm:20,2
+ rebin MET:80,8

########################
## Main template file ##
########################

# filename
(file)

# case insensitive regex for histograms to keep
+ keep ^(Q|S|T|W|Z|D).+[12345]j_[012]t

