# -*- conf -*-

#####################
## Global commands ##
#####################

global

########################
## Main template file ##
########################

# filename
(file)

# case insensitive regex for histograms to keep
# for pretag, add three types of W + jets together
+ add QCDpre\1_\2j_1t:QCD(_.+)_(\d)j_\dt
+ add QCDpre\1_\2j_2t:QCDpre(_.+)_(\d)j_\dt
#+ sub QCDpre||QCD

+ keep ^((?:Q|S|T|W|Z|D)\w+)*_(.+)
