# -*- conf -*-

#####################
## Global commands ##
#####################

global

# double-pipe separated substitutions ('old||new')
+ sub data||Data

# rebin
+ rebin MET:80,8

########################
## Main template file ##
########################

# filename
(file)

# When we get here, we already have things combined into 5j 2t bins
# Additionally, the QCD fitter is going to handle tags, so don't worry
# about combining bins toegether
# It will combine all QCD tags in the same jet bin together (since the
# MET shape should be the same regardless of the tag content of the QCD)
# but keep the other bins seperate

# make WJets (tagged)
+ add WJets_\1:Wqq_(.+)^,Wbx_(.+)^,Wcx_(.+)^

+ keep ^.*_MET_[012345]j_[012]t
